# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Some of the popular languages that Data Scientists
- a few examples of evaluating arithmetic expressions in Python
- Data Science Tools

Some of the popular languages that Data Scientists use are:

ordered list:
1. python
2. R
3. SQL

|python|R|SQL|
| ------ | ------ | ------ | 
|jupyter notebook|Rstudio|SQL workbench|

Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [14]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [16]:
minute=200
hour=minute/60
hour

3.3333333333333335

## Author
Nguyen Hong Phuc